<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ID Verification</title>
</head>
<body>
<h3 class="heading">Invalid Card</h3>
<h3 class="heading">Please provide a valid ID card</h3>
<img class="gif" src="https://media.giphy.com/media/JT7Td5xRqkvHQvTdEu/giphy.gif" alt="Invalid" width="80%">
<button class="startbutton" onclick="javascript:history.go(-1)" type="button">
  Try Again
</button>

</body>
</html>