<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <title>ID Verification</title>
  </head>
  <!-- <style>
    body {
  background-color: rgb(0, 0, 0);
  }
  </style> -->
  <body>
    <div class="container">
      <div class="row">
        <h3 class="heading" style="padding-left: 40%; padding-bottom: 20px;">Auto User Verification </h3>
        <div class="col-lg-8 offset-lg-2" style="border: 5px solid #eb4141; background-color: black;">
          <img src="{{ url_for('video_feed') }}" width="100%" />
        </div>
      </div>
    </div>
    <div>
      <button class="startbutton" onclick="myFunction()" type="button">
        Verify
      </button>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script>
      function myFunction() {
        console.log("jsfun");
        $.post("/capture_image", function (data, status) {
          //alert("Data: " + data + "\nStatus: " + status);
          window.location.href = data;
        });
      }
    </script>
  </body>
</html>
