<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ID Verification</title>
</head>
<body>
<!-- <div></a><button class="startbutton"><a href="/capture_image/">Verify</a></button></div> -->
<h3 class="heading">Verification Successful</h3>
<img class="gif" src="https://media.giphy.com/media/8xgqLTTgWqHWU/giphy.gif" alt="valid" width="100%">
<button class="startbutton" onclick="javascript:history.go(-1)" type="button">
  Once More!!
</button>
<!-- 
<div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Some text in the Modal..</p>
    </div> 
</div>

<script src="{{ url_for('static', filename='actions.js') }}"></script> -->

</body>
</html>